{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Lei Shi">
        <meta http-equiv="Cache-Control" content="o-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">


        <title>全部 - 课程 - 学习社</title>


        <meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。"
              name="description">
        <meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

        <meta content="实验楼,琛石科技" name="author">

        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="{% static 'font-awesome/4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'highlight.js/9.8.0/monokai-sublime.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/libs/katex/0.6.0/katex.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/libs/videojs/5.11.7/video-js.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/dest/styles.css' %}?=2016121272249">

        <style>
            @font-face {
                font-family: "lantingxihei";
                src: url("{%  static 'fonts/FZLTCXHJW.TTF' %}");
            }

            /* modal 模态框*/
            #invite-user .modal-body {
                overflow: hidden;
            }

            #invite-user .modal-body .form-label {
                margin-bottom: 16px;
                font-size: 14px;
            }

            #invite-user .modal-body .form-invite {
                width: 80%;
                padding: 6px 12px;
                background-color: #eeeeee;
                border: 1px solid #cccccc;
                border-radius: 5px;
                float: left;
                margin-right: 10px;
            }

            #invite-user .modal-body .msg-modal-style {
                background-color: #7dd383;
                margin-top: 10px;
                padding: 6px 0;
                text-align: center;
                width: 100%;
            }

            #invite-user .modal-body .modal-flash {
                position: absolute;
                top: 53px;
                right: 74px;
                z-index: 999;
            }

            /* end modal */

            .en-footer {
                padding: 30px;
                text-align: center;
                font-size: 14px;
            }
        </style>


    </head>

    <body>

    <div class="container layout layout-margin-top">


        <div class="row">
            <div class="col-md-9 layout-body">

                <div class="content">
                    <div class="row course-cates" id="coures_category">
                        <div class="col-md-1 course-cates-title" id="category">类别：</div>
                        <div class="col-md-11 course-cates-content">
                            <a class="active" href="{% url 'apis:CouresList' %}?tag=all">全部</a>
                            {% for i in coures_tag %}
                            <a class="tag"  href="{% url 'apis:CouresList' %}?tag={{ i.name }}">{{ i.name }}</a>
                            {% endfor %}
{#                            <a class="" href="/courses/?course_type=all&amp;tag=all&amp;fee=free">{{ rows.level }}</a>#}
                        </div>
                    </div>
                    <div class="row course-cates">
                        <div class="col-md-1 course-cates-title">标签：</div>
                        <div class="col-md-11 course-cates-content">
                            <a class="active" href="{% url 'apis:CouresList' %}?level=1&amp;2&amp;3">全部</a>
                            {% for item in coures_level %}

                            <a class="level" href="{% url 'apis:CouresList' %}?level={{ item.0 }}">{{ item.1 }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="content position-relative">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="/courses/?course_type=all&amp;tag=all&amp;fee=all">已上线</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="courses-sort">
                        <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;order=latest">最新</a>
                        /
                        <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;order=hotest">最热</a>
                    </div>
                    <div class="search-result"></div>

                    {% for courses in contacts %}
                        <div class="col-md-4 col-sm-6  course">
                        <a class="course-box" href="{{ courses.id }}">
                        <div class="sign-box">
                            <i class="fa fa-star-o course-follow pull-right"
                               data-follow-url="/courses/729/follow"
                               data-unfollow-url="/courses/729/unfollow"  style="display:none"  ></i>
                        </div>
        <div class="course-img">
            {% if  courses.img %}

            {% endif %}
            <img alt="" src="{{ courses.img }}">
        </div>
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" >{{ courses.courese_name }}</span>
            <h6>共{{ courses.num }}节课程</h6>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                12
			</span>
        </div>
    </a>
</div>
                    {% endfor %}
                    <nav class="pagination-container">
                        <ul class="pagination">
                            <li class="">
                                {% if contacts.has_previous %}
                                <a href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true" >上一页</span>
                                {% endif %}
                                </a>
                            </li>
        <!--{% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}-->
                            {% if contacts.next_page_number %}
                                <li class="">
                                <span aria-hidden="true">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
                                </span>
                                </li>
                            {% endif %}
                            <li class="">
                                {% if contacts.has_next %}
                                <a aria-label="Next" href="?page={{ contacts.next_page_number }}">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-md-3 layout-side">


                <div class="panel panel-default panel-userinfo">
                    <div class="panel-body body-userinfo">
                        <div class="media userinfo-header">
                            <div class="media-left">
                                <div class="user-avatar">

                                    <a class="avatar" href="#sign-modal" data-toggle="modal" data-sign="signin">
                                        <img class="circle" src="{% static 'img/logo-grey.png' %}">
                                    </a>

                                </div>
                            </div>
                            <div class="media-body">

                                <span class="media-heading username">欢迎来到实验楼</span>
                                <p class="vip-remain">做实验，学编程</p>

                            </div>
                        </div>

                        <div class="row userinfo-data">

                            <hr>
                            <div class="btn-group-lr">
                                <a href="{% url 'user:login' %}" type="button"
                                   class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal"
                                   data-sign="signin">登录</a>
                                <a href="{% url 'user:register' %}" type="button"
                                   class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn"
                                   data-toggle="modal" data-sign="signup">注册</a>
                            </div>

                        </div>

                        <!--<div class="userinfo-footer row">
                            <div class="col-md-6 col-xs-6 pos-left">

                                <a href="#sign-modal" data-toggle="modal" data-sign="signin"><span class="glyphicon glyphicon-bookmark"></span> 加入私有课</a>

                            </div>
                            <div class="col-md-6 col-xs-6 pos-right">
                                <a href="/contribute" target="_blank"><span class="glyphicon glyphicon-send"></span> 我要投稿</a>
                            </div>

                            <div id="join-private-course" class="modal fade words-ctrl" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">加入私有课</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div style="margin:15px 0; font:16px;">输入教师提供的私有课程码可以加入教师的私有课程。</div>
                                            <form id="private-course-form" method="POST" action="/courses/join">
                                                <div class="form-group">
                                                    <label for="code">邀请码</label>
                                                    <input class="form-control" id="code" name="code" type="text" value="">
                                                    <input name="_csrf_token" type=hidden value="1483780974##87f89328c5616669f00302a263fe9061bb852818">
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" onclick="document.getElementById('private-course-form').submit();">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>


                <div class="sidebox">

                    <div class="sidebox-header">
                        <h4 class="sidebox-title">最热路径</h4>
                    </div>
                    <div class="sidebox-body course-content side-list-body">
                        <a href="/paths/python"><img style="width:25px;height:25px"
                                                     src="{% static 'img/1471513769430.png' %}"> Python 研发工程师</a>
                        <a href="/paths/bigdata"><img style="width:25px;height:25px"
                                                      src="{% static 'img/1471513926288.png' %}"> 大数据工程师</a>
                        <a href="/paths/cpp"><img style="width:25px;height:25px"
                                                  src="{% static 'img/1471513793360.png' %}"> C++ 研发工程师</a>
                        <a href="/paths/security"><img style="width:25px;height:25px"
                                                       src="{% static 'img/1471513867033.png' %}"> 信息安全工程师</a>
                        <a href="/paths/linuxsys"><img style="width:25px;height:25px"
                                                       src="{% static 'img/1471514004752.png' %}"> Linux 运维工程师</a>
                    </div>

                </div>


            </div>
        </div>
    </div>


    <div id="base-data"


         data-flash="false"


         data-is-login=false

         data-is-jwt=true
         data-socket-url="wss://comet.shiyanlou.com"
         data-msg-user=""
         data-msg-system=""
    ></div>

    <script src="{% static 'app/dest/lib/lib.js' %}?=2016121272249"></script>
    <script src="{% static 'jquery/2.2.4/jquery.min.js' %}"></script>
    <script src="{% static 'ace/1.2.5/ace.js' %}"></script>
    <script src="{% static 'aliyun/aliyun-oss-sdk-4.3.0.min.js' %}"></script>
    <script src="{% static 'highlight.js/9.8.0/highlight.min.js' %}"></script>
    <script src="{% static 'jspdf/1.2.61/jspdf.min.js' %}"></script>
    <script src="{% static 'plupload/2.1.9/js/plupload.full.min.js' %}"></script>
    <script src="{% static 'zeroclipboard/2.2.0/ZeroClipboard.min.js' %}"></script>
    <script src="{% static 'videojs/video.min.js' %}"></script>
    <script src="{% static 'bootstrap-tour/0.11.0/js/bootstrap-tour.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/1.11.0/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>

    <script src="{% static 'ravenjs/3.7.0/raven.min.js' %}"></script>
    <script>
        Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
            release: '3.12.13'
        }).install();
    </script>
    <script>
        function category(tablecategory) {
            var params = {};
            console.log(tablecategory);
        params['pagesize'] = tableParams.limit;
        params['offset'] = tableParams.offset;
        params['page'] = $table.bootstrapTable('getOptions').pageNumber;
        params['search'] = $("#search").val();
        $('#')
        }
    </script>


    <div id="jinja-data"
         data-loginurl="/login"
         data-private-course-url="/courses/join"
         data-site-type="0"

    ></div>

    <script src="{% static 'app/dest/course/index.js' %}?=2016121272249"></script>
    <!--<script>
        $table = $("#table_course");
    function queryParams(tableParams) {
        var params = {};
        console.log(tableParams);
        params['pagesize'] = tableParams.limit;
        params['offset'] = tableParams.offset;
        params['page'] = $table.bootstrapTable('getOptions').pageNumber;
        params['search'] = $("#search").val();
                $('#toolbar_table_questions').find('select[name]').each(
            function () {
                params[$(this).attr('name')] = $(this).val();
            }
        );
        // 返回所有参数{"pagesize":20, "page":1, "offset":0}
        // /apis/questions/?pagesize=20&page=1&offset=0
        return params;
    }
    </script>-->
    <script>
    click_tag = {
        'click.tag' :function () {
            console.log($(this).attr("href"));
            content_em = $($(this).attr("href"));
            $.ajax({
                url:'/apis/courese/',
                type:'GET',

                success:function (data) {
                    if(data){
                    content_em.html(data.tag)
                    }
                }
            })
        }
    }
    </script>

    </body>
    </html>
{% endblock content %}