{% extends 'base.html' %}
{% load staticfiles %}
{% load video_class %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
{% block content %}

<title>{{ Courese_name }}-课程-学习社</title>
<body>
<link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
<link  rel="stylesheet" href="{% static 'comment/css/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'comment/css/sinaFaceAndEffec.css' %}" />



<div class="container layout layout-margin-top">

<ol class="breadcrumb">
    <li><a href="{% url  'apis:CouresList' %}?tag=all">全部课程</a></li>

    <li>

    <a href="{% url 'apis:CouresList' %}?tag={{ Courese_name.tag }}">{{ Courese_name.tag }}</a>

    </li>

    <li class="active">
        <a href="/courese/{{ Courese_name.id }}">
        {{ Courese_name }}
        </a>
    </li>
</ol>


    <div class="content course-infobox">
        <div class="clearfix course-infobox-header">
            <h4 class="pull-left course-infobox-title">

                <span>{{ Courese_name }}</span>

            </h4>

        </div>
    <div class="clearfix course-infobox-body">
        <div class="course-infobox-content"></div>
        {% csrf_token %}
    <video id="my_video_1"  class="video-js vjs-default-skin" width="640px" height="267px"
      controls preload="auto"
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1,1.25,1.5,1.75,2] }'
      src="{{ Courese_list_first.link }}">
    <source id="video"  video_id="{{ Courese_list_first.id }}" src="{{ Courese_list_first.link }}"  type='video/mp4' />
    <source id="video1"    src="{{ Courese_list_first.link }}" type='video/webm' />
    </video>
        <div>


        </div>
    </div>

    <div class="content">
        <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
                <a href="#labs" aria-controls="labs" role="tab" data-toggle="tab" aria-expanded="true">实验列表</a>
            </li>

            <li role="presentation"  id="li_comment" class="">
                <a href="#comments" class="stat-event" aria-controls="comments" role="tab" data-stat="course_comment" data-toggle="tab" aria-expanded="false" id="id_comment_label">课程评论</a>
            </li>

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="labs">
                {% for i in Courese_list %}
                <div class="lab-item "  >

    <div  class="lab-item-title"  data-toggle="tooltip"  data-placement="bottom"  data-original-title="{{ i.title }}"  href="{{ i.link }}" id="t{{ i.id }}">{{ i.title }}</div>
    <div class="pull-right lab-item-ctrl">
                <a class="btn btn-primary"   type="submit"  id="a{{ i.id }}" >开始学习</a>
    </div>
</div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane course-comment"  id="comments" >
                <div style="display:inline-block;*display:none;*zoom:1;width: 100%; height: 100%;" >
                <form class="cont-box form" id="comment_form" method="POST" action="{% url 'comment:submit_comment' Courese_list_first.id  %}">
                    {% csrf_token %}
               {{ form.content }}
				<div class="tools-box">
					<div class="operator-box-btn"><span class="face-icon"  >☺</span></div>
					<div class="submit-btn" style="height: 100%"><input type="button"  value="提交评论" id="comment_submit"/></div>
				</div>
                </form>

                    <div id="info-show" style="margin-top: 40px">
                    </div>
                    </div>



<script type="text/javascript" src="{% static 'comment/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'comment/js/sinaFaceAndEffec.js' %}"></script>
<script type="text/javascript" src="{% static 'comment/js/jquery-1.8.3.min.js' %}"></script>
            </div>
        </div>
        </div>
        </div>
        </div>

    <div id="base-data"
data-flash="false"
        data-is-login=false
        data-is-jwt=true
        data-msg-user=""
        data-msg-system=""
    ></div>

    <script type="text/javascript" src="{% static 'comment/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'app/dest/lib/lib.js' %}"></script>
    <script src="{% static 'jquery/2.2.4/jquery.min.js' %}"></script>
    <script src="{% static 'ace/1.2.5/ace.js' %}"></script>
    <script src="{% static 'aliyun/aliyun-oss-sdk-4.3.0.min.js' %}"></script>
    <script src="{% static 'highlight.js/9.8.0/highlight.min.js' %}"></script>
    <script src="{% static 'jspdf/1.2.61/jspdf.min.js' %}"></script>
    <script src="{% static 'plupload/2.1.9/js/plupload.full.min.js' %}"></script>
    <script src="{% static 'zeroclipboard/2.2.0/ZeroClipboard.min.js' %}"></script>
    <script src="{% static 'videojs/video.min.js' %}"></script>
    <script src="{% static 'bootstrap-tour/0.11.0/js/bootstrap-tour.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/1.11.0/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'app/dest/course/labs.js' %}"></script>
    <script type="text/javascript" src="{% static 'comment/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'comment/js/sinaFaceAndEffec.js' %}"></script>
    <script src="{% static 'ravenjs/3.7.0/raven.min.js' %}"></script>
    <script type="text/javascript">
	// 绑定表情
	$('.face-icon').SinaEmotion($('.text'));
	// 测试本地解析
	function out() {
		var inputText = $('.text').val();
		$('#info-show ul').append(reply(AnalyticEmotion(inputText)));
	}
</script>
    <script>
        {% for i in Courese_list %}
            $("#a{{ i.id }}").click(function () {
                var video_link = $("#t{{ i.id }}").attr("href");
                console.log('ok');
                $.ajax({
                    url: '/choose_video/',
                    data: {
                        'video_id_link':video_link,
                        'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').val()
                    },
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        var code = data.code;
                        if (code == 0){
                            $("#my_video_1").attr("src","{{ i.link }}");
                            $("#my_video_1_html5_api").attr("src","{{ i.link }}");
                            $("#video").attr("src","{{ i.link }}");
                            $("#video").attr("video_id","{{ i.id }}");
                            $("#video1").attr("src","{{ i.link }}");
                            $("#comment_form").attr("action","{% url 'comment:submit_comment' i.id  %}")
                        }
                    },
                    error: function (data) {
                        alert("切换失败")
                    }
                })
            });
        {% endfor %}
    </script>
    <script>

    $('#comment_submit').click(function () {
        var frm = $('#comment_form');
        $.ajax({
            url: frm.attr("action"),
            data: frm.serialize(),
            type: 'POST',
            success: function (data) {
            $('#info-show').prepend(data.html);
            },
            error: function (data) {
                alert("error")
            }
        })
    });
    </script>
<script>
    $('#li_comment').click(function () {
        $.ajax({
            type: 'GET',
            url: '/comment/get_comments/',
            data:{
                     video_id: $('#video').attr("video_id"),
                },
            dataType: 'json',
            success: function(data){
                var code = data.code;
                var count = data.comment_count;
                if(code == 0){
                    $('#id_content').val("");
                    $('#id_comment_label').text(count + "条评论");
                    $('#info-show').append(data.html);
                    me.resetload();
                }else{
                    me.lock();
                    me.noData();
                    me.resetload();
                }
            },
            error: function(xhr, type){
                alert("失败了");
                me.resetload();
                }
            })
    })
</script>
    </body>
    </html>
{% endblock content %}
<script>

</script>