{% extends 'base.html' %}
{% load staticfiles %}
{% load video_class %}
{% block content %}
    <title>欢迎来到学习社</title>
<body>
<link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
<div class="navbar-banner layout-no-margin-top">
    <div class="banner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <a class="container-title">
                        <img src="{% static 'img/container-title-2.png' %}"/>
                    </a>
                    <div style="margin-top:24px;">
                        <a id="course-btn" class="course-btn btn btn-lg" href="{% url 'paths:index' %}">进入课程</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="introduce-container" id="fourFeatures">
    <div class="container">
        <div class="row">
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="{% static 'img/introduceContainer1.gif' %}"/></a></div>
                <div><span class="introduce-span">丰富全面的计算机实验课程</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="{% static 'img/introduceContainer2.gif' %}"/></a></div>
                <div><span class="introduce-span">在线编程环境，1秒启动</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="{% static 'img/introduceContainer3.gif' %}"/></a></div>
                <div><span class="introduce-span">每天一个项目课，丰富你的项目经验</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="{% static 'img/introduceContainer4.gif' %}"/></a></div>
                <div><span class="introduce-span">有效学习时间，真实记录你的代码生涯</span></div>
            </div>
        </div>
    </div>
</div>

<div class="line-and-laboratory">
    <div class="container">
        <div class="clearfix text-center item-header">
            <span class="line"></span>
            <span class="text-center item-title">学习路径</span>
            <span class="line"></span>
        </div>
        <div class="tab-content">
            <div class="tab-pane clearfix active" id="study-line">


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=Python">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471513769430.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">Python研发工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 1 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">
                                    Python技术路径中包含入门知识、Python基础、Web框架、基础项目、网络编程、数据与计算及综合项目七个模块。模块中的课程将带着你逐步深入，学会如何使用
                                    Python 实现项目一个博客，桌面词典，微信机器人或网络安全软件等。完成本路径的实验课，将具备独立开发 Python 软件和 Web 应用的能力。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=C\C++">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471513793360.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">C++ 研发工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 4 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">C++ 学习路径中将通过使用 C++ 语言实现 Web 服务器，Markdown 解析器，内存池以及 Docker
                                    容器管理工具等，学习并实践 C++ 编程基础，C++ 11/14 标准，C++ 图像处理及增强现实技术。完成本路径的所有实验课，将能够使用 C++
                                    独立实现复杂的应用程序。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=大数据">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471513926288.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">大数据工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 6 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">大数据学习路径中会学习并实践
                                    Java、Scala、Hadoop、HBase、Mahout、Sqoop及Spark等大数据技术，本路径通过大量的动手实验，在实验数据集上实践各种大数据工具，帮助你成长为具备动手能力的大数据工程师。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=网络信息">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471513867033.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">信息安全工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 10 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">信息安全学习路径首先完成
                                    Linux、脚本编程、数据库和网络等基础知识学习，然后通过密码学实验、系统安全实验、Web安全实验、网络安全实验四个核心模块的动手实践，强化信息安全工程师必须要掌握的系统防护，Web渗透及网络攻防等基本技能。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=Linux">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471514004752.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">Linux运维工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 3 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">Linux运维技术路径中首先学习 Linux
                                    相关的基本操作和系统管理，然后依次学习并实践服务部署、数据库管理、脚本编程、系统监控和安全防护、以及Web服务运维技术。最后学习 Docker 容器服务和
                                    Windows Server的运维知识。本路径的实验将帮助你成为一名合格的 Linux 运维工程师。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=Java">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471514111981.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">Java研发工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 2 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">Java 学习路径中将首先完成 Java基础、JDK、JDBC、正则表达式等基础实验，然后进阶到 J2SE 和 SSH
                                    框架学习。通过使用 Java 语言实现日记本，个人相册、编辑器、通讯录等，学习并实践 Java 编程基础，SSH 项目实战以及Java Web 应用开发。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=PHP">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471514095761.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">PHP研发工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 5 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">PHP 技术路径中包含入门知识、PHP 编程基础、PHP Web
                                    框架、项目实战和项目进阶五个模块。模块中的课程将带着你逐步深入，学会如何使用 PHP 实现项目一个博客，聊天室，MVC框架及搜索系统等。完成本路径所有实验课，将具备使用
                                    PHP 独立开发 Web 应用的能力。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{% url 'apis:CouresList' %}?tag=前端">
                        <div class="path-item">
                            <div class="col-xs-5 col-sm-4 path-img">
                                <img src="{% static 'img/1471514153000.png' %}">
                            </div>
                            <div class="col-xs-7 col-sm-8">
                                <div class="path-name">Web前端工程师</div>
                                <div class="path-course-num">
                                    <span>{% get_courses_tag_count 8 %}</span>
                                    门课程
                                </div>
                            </div>
                            <div class="desc-layer">
                                <div class="center">Web 前端学习路径中首先实践
                                    HTML、CSS、JavaScript、jQuery、HTML5等基础知识，然后完成实现页面特效组件、网页游戏、Web应用等一系列项目，帮助你通过动手实践成长为合格的
                                    Web 前端工程师。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>




            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" rolw="document">
    </div>
</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>



<div id="base-data"


     data-flash="false"


     data-is-login=false

     data-is-jwt=true
     data-msg-user=""
     data-msg-system=""
></div>

{#<script src="{% static 'app/dest/lib/lib.js' %}?=2016121272249"></script>#}
{#<script src="{% static 'jquery/2.2.4/jquery.min.js' %}"></script>#}
{#<script src="{% static 'ace/1.2.5/ace.js' %}"></script>#}
{#<script src="{% static 'aliyun/aliyun-oss-sdk-4.3.0.min.js' %}"></script>#}
{#<script src="{% static 'highlight.js/9.8.0/highlight.min.js' %}"></script>#}
{#<script src="{% static 'jspdf/1.2.61/jspdf.min.js' %}"></script>#}
{#<script src="{% static 'plupload/2.1.9/js/plupload.full.min.js' %}"></script>#}
{#<script src="{% static 'zeroclipboard/2.2.0/ZeroClipboard.min.js' %}"></script>#}
{#<script src="{% static 'videojs/video.min.js' %}"></script>#}
{#<script src="{% static 'bootstrap-tour/0.11.0/js/bootstrap-tour.min.js' %}"></script>#}
{#<script src="{% static 'bootstrap-table/1.11.0/bootstrap-table.min.js' %}"></script>#}
{#<script src="{% static 'bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js' %}"></script>#}
{#<script src="{% static 'bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>#}
{##}
{#<script src="{% static 'ravenjs/3.7.0/raven.min.js' %}"></script>#}
{#<script>#}
{#    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {#}
{#        release: '3.12.13'#}
{#    }).install();#}
{#</script>#}


{#<div id="jinja-data" data-post-url="/registercheck"></div>#}

{#<script src="{% static 'app/dest/frontend/index.js' %}?=2016121272249"></script>#}

{#{% include 'tail.html' %}#}

</body>
{% endblock %}